@model System.Collections.Generic.List<webApp.Models.OrdersJSON>
@{
    ViewData["Title"] = "Приказы";
}

@section Header {
    <div class="header_section">
        <div class="header_logo">
            <img src="~/img/vstu-logo.svg" alt="">
        </div>
        <div class="header_title">
            <div class="header_divider"> </div>
            <div class="header_portal_title">
                <p>ОБРАЗОВАТЕЛЬНЫЙ ПОРТАЛ ВОРОНЕЖСКОГО ГОСУДАРСТВЕННОГО ТЕХНИЧЕСКОГО УНИВЕРСИТЕТА</p>
            </div>
        </div>
    </div>
    <div class="header_section">
        <div class="header_account">
            <a class="navbar-account" asp-area="" asp-controller="Home" asp-action="Student">
                <img src="~/img/account.svg" alt="">
            </a>
        </div>
    </div>
}

@section nav {
    <nav>
        <div class="navbar_section">
            <div class="navbar_buttons">
                <a href="#">Расписание</a>
                <div class="navbar_button_divider"></div>
                <a asp-action="RecordBook" asp-controller="Home">Зачетная книжка</a>
                <div class="navbar_button_divider"></div>
                <a href="#">Учебные планы</a>
                <div class="navbar_button_divider"></div>
                <a href="#">Моя группа</a>
                <div class="navbar_button_divider"></div>
                <a href="#">Расписание</a>
                <div class="navbar_button_divider"></div>
                <a href="#">Портфолио</a>
                <div class="navbar_button_divider"></div>
                <a asp-action="Orders" asp-controller="Home">Приказы</a>
            </div>
            <div class="navbar_buttons">
                <a href="#">Помощь</a>
                <div class="navbar_button_divider"></div>
                <a href="#">Настройки</a>
                <div class="navbar_button_divider"></div>
                <a asp-action="Logout" asp-controller="Account">Выйти</a>
            </div>
        </div>
    </nav>
}

<div class="main_left_section">
    <div class="navigation">
        <p>Навигация</p>
    </div>
    <div class="navigation_divider"></div>
    <a asp-action="Student" asp-controller="Home">
        <div class="navigation_button">На главную страницу</div>
    </a>

    @foreach (var order in @Model)
    {
        <a class="navigation_button" href="#" onclick="clickOnOrders('@order.IdStudent', '@order.OrderCode', '@order.OrderDate.Value.Date.ToString("D")', '@order.Order')">Приказ № @order.OrderCode</a>
    }
    

</div>
<div class="main_right_section">
    <div class="main_right_top_student_info">
        <div>
            Информация о приказах
        </div>
    </div>


    <div class="main_right_bottom_section">
        <div class="order_info">
            <div class="order_info_field" id="IdStudent">@Model[0].IdStudent</div>
            <p>Уникальный идентификатор студента</p>
        </div>
        <div class="order_info">
            <div class="order_info_field" id="OrderCode">@Model[0].OrderCode</div>
            <p>Номер приказа</p>
        </div>
        <div class="order_info">
            <div class="order_info_field" id="OrderDate">@Model[0].OrderDate.Value.Date.ToString("D")</div>
            <p>Дата приказа</p>
        </div>
    </div>

    <div class="order_section">
        <div class="order_content_field" id="Order">@Model[0].Order</div>
        <p>Формулировка приказа</p>
    </div>


</div>

<script>
    function clickOnOrders(id, code, date, text) {
        document.getElementById('IdStudent').innerHTML = id;
        document.getElementById('OrderCode').innerHTML = code;
        document.getElementById('OrderDate').innerHTML = date;
        document.getElementById('Order').innerHTML = text;
    }
</script>